#header {
    height: 70px;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-right: 50px;
    margin-left: -10px;
    background-color: gray;
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    z-index: 1;
}

.left {
    display: inline-block;
    height: 700px;
    width: 10%;
    margin-top: 65px;
    background-color: gray;
    border-radius: 5px;
    float: left;
}

.right {
    display: inline-block;
    height: 700px;
    width: 89%;
    margin-top: 65px;
    margin-bottom: 5px;
    background-color: gray;
    border-radius: 5px;
    float: right;
}

#footer {
    height: 70px;
    background-color: gray;
    border-radius: 5px;
    clear: both;
}